@page "/AddTask"
@page "/AddTask/{Id}"

@inject HttpClient Http
@using TaskManager.Business.Dtos

<div class="container">
    <EditForm Model="@task" @*OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit"*@>
        <div class="form-group">
            <label for="Title">Title</label>
            <InputText id="title" @bind="@task.Title"></InputText>
        </div>
        @*<div class="form-group">
            <label for="StartDate">Start</label>
            <InputDate id="start" @bind="@task.StartDate"></InputDate>
        </div>
        <div class="form-group">
            <label for="StartDate">End</label>
            <InputDate id="start" @bind="@task.StartDate"></InputDate>
        </div>*@

        <div class="imput-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
            </div>
            @*<label for="description">Description</label>*@
            <InputTextArea @bind="@task.Description"></InputTextArea>
        </div>

        <div class="form-group">
            <label for="status">Status</label>
            @*<InputSelect @bind="@task.Status.Name">
                @foreach (var value in task.Status.Name)
                {
                    <option>@value</option>
                }
            </InputSelect>*@
        </div>
        <div class="form-group">


        </div>

    </EditForm>
</div>


@code {
    [Parameter]
    public string Id { get; set; }

    public TaskUi task { get; set; } = new TaskUi();

    protected override async Task OnInitializedAsync()
    {
        task = await Http.GetFromJsonAsync<TaskUi>($"/Task/{Id}");
    }
    public class TaskUi
    {
        public int Id { get; set; }

        public string Title { get; set; }

        public string Description { get; set; }

        public DateTimeOffset StartDate { get; set; }

        public DateTimeOffset EndDate { get; set; }

        public TaskStatusDto Status { get; set; }

        public int UserId { get; set; }
    }
}
