@page "/AddTask"
@page "/AddTask/{Id}"

@inject HttpClient Http
@using TaskManager.Business.Dtos

<div class="container">
    <EditForm Model="@task">
        <div class="form-group">
            <label for="Title">Title</label>
            <InputText id="title" @bind-Value="@task.Title"></InputText>
        </div>
        <div class="form-group">
            <label for="StartDate">Start</label>
            <InputDate id="start" @bind-Value="@task.StartDate"></InputDate>
        </div>
        <div class="form-group">
            <label for="StartDate">End</label>
            <InputDate id="end" @bind-Value="@task.StartDate"></InputDate>
        </div>

        <div class="imput-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
            </div>
            @*<label for="description">Description</label>*@
            <InputTextArea @bind-Value="@task.Description"></InputTextArea>
        </div>

        @*<div class="form-group">
            <label for="status">Status</label>
            <InputSelect id="status" @bind-Value="@task.Status.Id">
                @foreach (var status in taskStatus)
                {
                <option value="@status.Id">@status.Name</option>
                }
            </InputSelect>
        </div>*@
        <div class="form-group">
        </div>
    </EditForm>
</div>


@code {
    [Parameter]
    public string Id { get; set; }

    public TaskUi task { get; set; } = new TaskUi();
    public IEnumerable<TaskStatusUi> taskStatus;

    protected override async Task OnInitializedAsync()
    {
        task = await Http.GetFromJsonAsync<TaskUi>($"/Task/{Id}");
        taskStatus = await Http.GetFromJsonAsync< IEnumerable<TaskStatusUi>>("/TaskStatus");
    }

    public class TaskUi
    {
        public int Id { get; set; }

        public string Title { get; set; }

        public string Description { get; set; }

        public DateTimeOffset StartDate { get; set; }

        public DateTimeOffset EndDate { get; set; }

        public TaskStatusDto Status { get; set; }

        public int UserId { get; set; }
    }

    public class TaskStatusUi
    {
        public int Id { get; set; }

        public string Name { get; set; }
    }
}
